<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="container">
            <h1>Ops Chief</h1>
            <!-- Ops Chief hard-coded here -->
            <a href="/army_officers">View or Add Army Officers</a><br>
            <a href="/army_troopers">View or Add Army Troopers</a>
        </div>
    </body>
</html>
