<!DOCTYPE html>
<html>
    <head>
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <!-- Ops Chief hard-coded here -->
        <a href="/army_officers">View or Add Army Officers</a>
        <a href="/army_troopers">View or Add Army Troopers</a>
    </body>
</html>
