<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <!-- Ops Chief hard-coded here -->
        <a href="/gunners">View or Add Battle Station Gunners</a>
        <a href="/battle_station_troopers">View or Add Battle Station Troopers</a>
        <a href="/battle_station_support">View or Add Battle Station Support</a>
        <a href="/battle_station_security">View or Add Battle Station Security</a>
        <a href="/">Home</a>
    </body>
</html>
