<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <form action="/gunners" method="post">
            <h3>Add Gunner to Database</h3>
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="text" name="rank" placeholder="Enter Rank" required>
            <input type="text" name="species" placeholder="Enter Species" required>
            <input type="number" name="pay" placeholder="Enter Pay" required>
            <input type="text" name="record" placeholder="Enter Record" required>
            <button type="submit" class="btn btn-success">Add Gunner</button>
        </form>

        {% if gunners is not empty %}
            <h3>Gunners:</h3>
            <ul>
                {% for gunner in gunners %}
                <li><a href="gunners/{{ gunner.getId }}">{{ gunner.getName }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="/">Home</a>
    </body>
</html>
