<!DOCTYPE html>
<html>
    <head>
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <!-- Ops Chief hard-coded here -->
        <a href="/battle_station_gunners">View or Add Battle Station Gunners</a>
        <a href="/battle_station_troopers">View or Add Battle Station Troopers</a>
        <a href="/battle_station_support">View or Add Battle Station Support</a>
        <a href="/battle_station_security">View or Add Battle Station Security</a>
    </body>
</html>
