<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
    <title>Death Star "HR" Portal</title>
</head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/Dstarholo.jpg" alt="Death Star Hologram" class="holo"/>
                    </div>
                    <div class="col-md-8">
                        <h1 class="pageHeader"><em>Death Star Personnel</em></h1>
                    </div>
                </div>
            </div>
            <div id="employees">
                <h3>All employees currently stationed on the Death Star:</h3>

                    <table>
                        <tr>
                            {% for employee in employees %}
                            {% if loop.index0 is divisibleby(4) %}
                        </tr>
                        <tr>
                            {% endif %}
                            <td>
                                <ul>{{ employee.getName }}
                                        {% for department in employee.getDepartments %}
                                            <p id="dept"> Department: {{ department.getDeptName }} </p>
                                        {% endfor  %}

                                </ul>
                            </td>

                            {% if loop.last %}
                        </tr>
                        {% endif %}

                        {%endfor%}
                    </table>

            </div>
            <div class="goHome">
                <a href="/"><h2>Home</h2></a>
            </div>
        </div>
    </body>
</html>
