<!DOCTYPE html>
<html>
    <head>
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <a href="/army">View Army "Personnel"</a>
        <a href="/navy">View Navy "Personnel"</a>
        <a href="/battle_station">View Battle Station "Personnel"</a>
        <a href="/vader">View Vader "Personnel"</a>
        
    </body>
</html>
