<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">


        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron" id="indexStars">
        </div>
        <img src="/img/dstar.png" alt="Death Star" id="deathStar"/>
            <div class="row" id="longTime">
                <h1>A long, long time ago...</h1>
                <h1>In an office space far, far away...</h1>
            </div>
            <h1 id='pageHeader'><b><em>DEATH STAR HR</em></b></h1>
            <div class="container" id="indexContainer">
                <div id="topLabelRight">
                    <a href="/battle_station"><h3 class="yellow">View Battle Station 'Personnel'</h3></a>
                    <p class="yellow">Under the command of Wilhuff Tarkin, Grand Moff and<br> regional Governor of the Outer Rim.</p>
                </div>
                <div id="topLabelLeft">
                    <a href="/army"><h3 class="yellow">View Army 'Personnel'</h3></a>
                    <p class="yellow">Under the command of Grand General Cassio Tagge, <br>Chief of the Imperial Army</p>
                </div>
                <div id="armyPic">
                    <img src="/img/CassioTagge.png" alt="General Cassio Tagge" id="army"/>
                </div>
                <div id="tarkinPic">
                    <img src="/img/Tarkin.png" alt="Grand Moff Tarkin" id="tarkin"/>
                </div>
                <div id="navyPic">
                    <img src="/img/Motti.png" alt="Admiral Antonio Motti" id="navy" />
                </div>
                <div id="bottomLabelRight">
                    <a href="/imperial"><h3 class="yellow">View Imperial 'Personnel'</h3></a>
                    <p class="yellow">Under the command of Darth Vader, Dark Lord of the Sith<br>and Supreme Commander of the Imperial Forces</p>
                </div>
                <div id="bottomLabelLeft">
                    <a href="/navy"><h3 class="yellow">View Navy 'Personnel'</h3></a>
                    <p class="yellow">Under the command of Admiral Antonio Motti,<br> Chief of the Imperial Navy</p>
                </div>
                <div id="VaderPic">
                    <img src="/img/Vader.png" alt="Darth Vader" id="vader"/>
                </div>
                <div id="emperorPic">
                    <img src="/img/emperor.png" alt="Emporer Palpatine" id="emperor"/>
                </div>

                <div id="emperorName">
                    <h4>Emperor Sheev Palpatine <br> Also known as Darth Sidious, Dark Lord of the Sith</h4>
                </div>
                <div id="allPersonnel">
                    <a href="/employees" class="buttons" id="seeEmployees"><h3>View all Personnel</h3></a>
                </div>
                <div id="jobPage">
                    <a href="/jobs" class="buttons" id="joinUs"><h3>Join Us!</h3></a>
                </div>
            </div>

            <audio controls autoplay id="music">
              <source src="/../css/march.mp3" type="audio/mpeg">
            </audio>
    </body>
</html>
