<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron">
        </div>
        <img src="/img/dstar.png" alt="Death Star" id="deathStar" />
        <a href="/army" class="buttons">View Army "Personnel"</a>
        <a href="/navy" class="buttons">View Navy "Personnel"</a>
        <a href="/battle_station" class="buttons">View Battle Station "Personnel"</a>
        <a href="/vader" class="buttons">View Vader "Personnel"</a>

    </body>
</html>
