<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="container">
            <h1><em>Join the Galactic Empire</em></h1>
            <img src="/img/navyjoin.jpg" alt="Navy Jobs" />
            <img src="/img/jobboard.jpg" alt="Bulletin Board" />
            <img src="/img/armyjoin.jpg" alt="Army Jobs" />
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <h3>The Galactic Empire Needs You</h3>
                        <ul>
                            <li>Battle Station Troopers: 10,449 openings</li>
                            <li>Battle Station Support: 27,426 openings</li>
                            <li>Battle Station Gunners: 24,445 openings</li>
                            <li>Battle Station Security: 75,432 openings</li>
                            <br>
                            <li>Navy Officers: 5,595 openings</li>
                            <li>Navy Pilots: 29,594 openings <em>*Sign-on Bonus*</em></li>
                            <br>
                            <li>Army Troopers: 65,859 openings</li>
                            <li>Army Officers: 30,484 openings</li>
                            <br>
                            <li><em>Droids are welcome, too.</em></li>
                            <br>
                        </ul>
                        <h3>Submit your credentials to any of our hiring centers across the Galaxy for consideration!</h3>
                        <p><em>or get conscripted...</em></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h3>Benefits of Working on the Death Star</h3>
                        <ul>
                            <li>Complimentary Room & Board</li>
                            <li>Quality Training</li>
                            <li>Opportunity to work on a team</li>
                            <li>Career Longevity ??</li>
                            <li>Quality medical care from the finest GH-7 and 2-1B medical droids in the Galaxy</li>
                            <li>Potential Career Advancement through attrition!!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
