
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/Dstarholo.jpg" alt="Death Star Hologram" class="holo"/>
                </div>
                <div class="col-md-8">
                    <h1 class="pageHeader"><em>Imperial Navy Personnel</em></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="opsChiefs">Ops Chief</h1>
                    <img src="/img/WulffYularen.png" alt="Wulff Yularen" id="yularen"/>
                </div>
                <div class="col-md-6">
                    <div class="well well-default chiefWell">
                        <h1>Chief Wulff Yularen</h1>
                        <h3>Rank: Colonel</h3>
                        <h3>Role on Death Star: Navy Operations Chief</h3>
                        <h3>Species: Human</h3>
                        <h3>Pay Rate: <img src="/img/credit.png" alt="Galactic Credit Symbol" class="credit"/>608,000 per year </h3>
                    </div>
                </div>
            </div>
            <div class="row addPeople">
                <div class="col-md-6">
                    <a href="/navy_officers"><h2>View or Add Navy Officers</h2></a>
                </div>
                <div class="col-md-6">
                    <a href="/navy_pilots"><h2>View or Add Navy Pilots</h2></a>
                </div>
            </div>
        </div>
        <a href="/" class="goHome"><h1>Home</h1></a>
    </body>
</html>
