<!DOCTYPE html>
<html>
    <head>
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <!-- Ops Chief hard-coded here -->
        <a href="/navy_officers">View or Add Navy Officers</a>
        <a href="/navy_pilots">View or Add Navy Pilots</a>
    </body>
</html>
