<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/Dstarholo.jpg" alt="Death Star Hologram" class="holo"/>
                </div>
                <div class="col-md-8">
                    <h1 class="pageHeader"><em>Imperial Navy Personnel</em></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form action="/navy_pilots" method="post">
                        <h3 class="opsChiefs">Add Navy Pilot to Database</h3>
                        <h3 class="addCategories">Enter Name:</h3>
                        <input type="text" name="name" placeholder="ex: Chalden Smethwile" required><br><br>
                        <h3 class="addCategories">Enter Rank:</h3>
                        <input type="text" name="rank" placeholder="ex: Lieutenant" required><br><br>
                        <h3 class="addCategories">Enter Species:</h3>
                        <input type="text" name="species" placeholder="ex: Human" required><br><br>
                        <h3 class="addCategories">Enter Salary:</h3>
                        <input type="number" name="pay" placeholder="ex: 58000" required><br><br>
                        <h3 class="addCategories">Enter Record:</h3>
                        <textarea type="text" name="record" placeholder="ex: Poor Performer" required></textarea><br><br>

                        <button type="submit" class="btn btn-primary">Add Navy Pilot</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <img src="/img/TieFighterPilot.jpg" alt="Imperial Navy Pilot" id="navyPilot"/>
                </div>
                <div class="col-md-4">
                    <h3 class="opsChiefs">Currently Saved Pilots :</h3>
                    {% if navy_pilots is not empty %}
                        <h3 class="listTitle">Navy Pilots:</h3>
                        <ul>
                            {% for navy_pilot in navy_pilots %}
                            <li><a href="navy_pilot/{{ navy_pilot.getId }}">{{ navy_pilot.getName }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="Home">
            <a href="/"><h2>Home</h2></a>
            <a href="/navy"><h2>Back</h2></a>
        </div>
    </body>
</html>
