body {
background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("/img/lightwall.jpg");
background-repeat: repeat;
background-size: 60%;
}

#employees h3 {
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
}

#employees ul {
    color: darkgray;
    font-size: 30px;
}

#dept {
    color: white;
    font-size: 20px;
    font-style: oblique;
}


#indexContainer {
  height: 1000px;
  width: 1200px;
}

.jumbotron#indexStars {
    background-image: url("/img/stars.jpg");
    background-repeat: repeat;
    background-size: 50%;
    height: 1300px;
 }

 #longTime {
    color: #097AFB;
    position: absolute;
    font-size: 48px;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    text-shadow: gray 2px 2px;
}

#deathStar {
    height: 950px;
    width: 900px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}

#pageHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1200px;
  font-size: 66px;
  color: #feda4a;
}

#seeEmployees {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 115%;
}

#joinUs {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 180%;
}

.buttons {
    color: #feda4a;
}

#topLabelLeft {
  position: absolute;
  float: left;
  padding-left: 50px;
  color: #feda4a;
}

#topLabelRight {
  position: absolute;
  color: #feda4a;
  padding-left: 800px;
}

#bottomLabelRight {
  position: absolute;
  color: #feda4a;
  /*width: 100%;*/
  padding-left: 800px;
  top: 185%;
  margin-bottom: 20px;
}

#bottomLabelLeft {
  position: absolute;
  float: left;
  padding-left: 50px;
  color: #feda4a;
  top: 185%;
  margin-bottom: 20px;
}

.yellow {
  color: #feda4a;
}

#emperor {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 125%;
  height: 450;
  width: 400px;
  border-radius: 20%;
}

#army {
  position: absolute;
  float: left;
  margin-left: 50px;
  margin-top: 125px;
  height: 350px;
  width: 300px;
  border-radius: 10%;
  border: white 1px solid;
}

#tarkin {
  position: absolute;
  float: left;
  margin-left: 825px;
  margin-top: 125px;
  height: 350px;
  width: 300px;
  border-radius: 10%;
  border: white 1px solid;
}

#navy {
  position: absolute;
  float: left;
  margin-left: 50px;
  margin-top: 520px;
  height: 350px;
  width: 300px;
  border-radius: 10%;
  border: white 1px solid;
}

#emperorName {
    color: #feda4a;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 170%;
}

#vader {
  position: absolute;
  float: left;
  margin-left: 825px;
  margin-top: 520px;
  height: 350px;
  width: 300px;
  border-radius: 10%;
  border: white 1px solid;
}

audio {
    display: none;
    position: absolute;
    top: 200%;
}

.jumbotron {
    background-color: black;
    border-bottom: white solid;
    color: #feda4a;
    font-family: 'Alfa Slab One', cursive;
    padding-bottom: 0;
}

.pageHeader {
    padding-top: 100px;
    padding-right: 15px;
}

.holo {
    margin-left: 30px;
    height: 300px;
    width: 500px;
}

.opsChiefs {
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
    font-size: 48px;
}

#bast {
    width: 100%;
}

.credit {
    height: 25px;
    width: 25px;
}

.chiefWell {
    margin-top: 120px;
    background-color: #C3C2C2;
}

.addPeople {
    text-align: center;
}

.goHome {
    text-align: center;
    margin-bottom: 20px;
}

#yularen {
    margin-top: 30px;
    height: 350px;
    width: 450px;
}

#cass {
    height: 400px;
    width: 350px;
}

#romodi {
    height: 450px;
    width: 350px;
}

.addCategories {
    color: white;
}

#armyOfficer {
    margin-top: 100px;
}

.Home {
  display: inline;
  text-align: center;
  margin-bottom: 20px;
}

.addDept {
    margin-top: 20px;
}

#armyTroopers {
  width: 100%;
  margin-top: 100px;
  padding-right: 50px;
}

.listTitle {
  color: white;
}

#navyOfficer {
  margin-top: 100px;
  width: 100%;
}

#navyPilot {
  margin-top: 100px;
  width: 100%;
}

#DSGunner {
  margin-top: 100px;
  width: 100%;
}

#DSTrooper {
  margin-top: 100px;
  width: 100%;
}

#DSSecurity {
  margin-top: 100px;
  width: 100%;
}

#DSSupport{
  margin-top: 100px;
  width: 100%;
}

#stormtroopers{
  margin-top: 100px;
  width: 350px;
  height: 450px;
}

#logo {
  margin-top: 100px;
  height: 600px;
  width: 400px;
}

#lunch {
  margin-top: 100px;
  height: 600px;
  width: 600px;
}

#stormHome {
    padding-left: 270px;
}

.indivInfo {
  color: white;
  font-size: 20px;
}

.updateInputs {
  display: block;
}

.indivHome {
  padding-left: 160px;
}

#boba {
  margin-top: 100px;
  height: 400px;
  width: 400px;
}

#armada {
  margin-top: 100px;
  height: 500px;
  width: 400px;
}

#gunnin {
  margin-top: 100px;
  height: 500px;
  width: 400px;
}

#lego {
  margin-top: 100px;
  height: 500px;
  width: 400px;
}

#guard {
  margin-top: 100px;
  height: 400px;
  width: 300px;
}

#spaceballs {
    margin-top: 50px;
    height: 500px;
    width: 400px;
}

.join {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
    font-size: 48px;
}

.jobs {
    display: block;
    margin: auto;
    height: 700px;
    margin-top: 30px;
}

#needsyou {
    text-align: center;
    background-color: black;
    color: white;
    width: 1000px;
    display: block;
    margin: auto;
    margin-top: 30px;

}

#needsyou h3 {
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
}

#benefits {
    margin-top: 30px;
    background-color: black;
    color: white;
}

#benefits h3 {
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
}
