body {
background: linear-gradient( rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) ), url("/img/lightwall.jpg");
background-repeat: repeat;
background-size: 60%;
}

.jumbotron#indexStars {
    background-image: url("/img/stars.jpg");
    background-repeat: repeat;
    background-size: 50%;
    height: 1300px;
 }


 #longTime {
    color: #097AFB;
    position: absolute;
    font-size: 48px;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    text-shadow: gray 2px 2px;
}

#deathStar {
    height: 950px;
    width: 900px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}

#pageHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  font-size: 66px;
  color: #feda4a;
}

.buttons {
    color: #feda4a;
}

#topLabels {
    color: #feda4a;
    width: 100%;
}

#bottomLabels {
    position: absolute;
    color: #feda4a;
    width: 100%;
    top: 190%;
}

#emperor {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 130%;
  height: 450;
  width: 400px;
  border-radius: 20%
}

#army {
  position: relative;
  height: 350px;
  width: 300px;
  /*left: -90%;
  transform: translate(90%);*/
  border-radius: 10%;
  margin-top: 2%;
  border: white 1px solid;
}

#tarkin {
  position: absolute;
  height: 350px;
  width: 300px;
  left: 90%;
  transform: translate(-90%);
  border-radius: 10%;
  margin-top: 4%;
  border: white 1px solid;
}

#navy {
  position: absolute;
  height: 350px;
  width: 300px;
  /*left: 10%;
  transform: translate(-10%);*/
  border-radius: 10%;
  bottom: 100%;
  border: white 1px solid;
}

#vader {
  position: absolute;
  height: 350px;
  width: 300px;
  left: 83%;
  transform: translate(-83%);
  border-radius: 10%;
  bottom: 100%;
  border: white 1px solid;
}

audio {
    display: none;
    position: absolute;
    top: 200%;
}

.jumbotron {
    background-color: black;
    /*color: white;*/
    border-bottom: white solid;
    color: #feda4a;
    font-family: 'Alfa Slab One', cursive;
    padding-bottom: 0;
}

.pageHeader {
    padding-top: 100px;
    padding-right: 15px;
}

#holo {
    margin-left: 30px;
    height: 300px;
    width: 500px;
}

.opsChiefs {
    font-family: 'Orbitron', sans-serif;
    color: #feda4a;
    font-size: 48px;
}

#bast {
    width: 100%
}

.credit {
    height: 25px;
    width: 25px;
}

.chiefWell {
    margin-top: 120px;
}

#addSoldiers {
    text-align: center;
}
